body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #4b4b4b;
}

input {
    padding: auto;
    margin: 3px 5px;
}

button {
    padding: auto;
    margin: 3px 5px;
}

.item {
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid #4b4b4b;
    border-left: 5px solid #4b4b4b;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 3px;
}

.item.running {
    background-color: #d6fcfb;
    border: 1px solid #7ccbdb;
    border-left: 5px solid #7ccbdb;
}

.log-detail {
    padding-left: 20px;
}

.close-button {
    margin-left: auto;
    display: flex;
}

.timer {
    clear: both;
}