input {
    padding: auto;
    margin: 3px 5px;
}

button {
    padding: auto;
    margin: 3px 5px;
}

.item {
    display: flex;
    align-items: center;
    height: 30px;
}

.close-button {
    margin-left: auto;
    display: flex;
}

.timer {
    clear: both;
}